


<input type="text" name="name" id="ingredient" value="" placeholder="Enter Ingredients">
<button type="button" name="button" id="submit" style="width:100px;height:56px">Submit</button>
<div id="container">
  <a id="logoo" target="_top" href="http://www.flamingtext.com/" ><img src="http://blog.flamingtext.com/blog/2015/12/15/flamingtext_com_1450200702_1061957329.png" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a>



  <ul id='results'>

  </ul>


</div>
