<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <title>FridgeAPP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="logo">

    <a target="_top" href="http://www.flamingtext.com/" ><img src="http://blog.flamingtext.com/blog/2015/12/15/flamingtext_com_1450196379_1061957317.png" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a>


  </div>

<%= yield %>





</body>

</html>
